<script>
  {% include typed.min.js %}
   document.addEventListener("DOMContentLoaded", function(event) {
    var typed = new Typed('#typed', {
      strings: [
        "Learn how to write a <br /><b>JavaScript library</b>",
        "Learn how to create a <br /><b>Python module</b>",
        "Learn how to deal with <br /><b>I/O in C++</b>",
        "Learn <br /><b>modern ES6 syntax</b>",
        "Learn how to create <br /><b>UI in ReactJS</b>",
        "Learn best <br /><b>Git workflows</b>",
        "Learn how to <br /><b>write a documentation</b>",
        "Learn how to <br /><b>write a clean code</b>",
        "Learn how to <br /><b>create a pull request</b>",
        "Learn how to <br /><b>write good tests</b>",
        "Learn how <br /><b>webpack works<b>",
        "Learn how to <br /><b>organize project structure</b>",
        "Learn how to <br /><b>become a maintainer</b>",
        "Learn coding <br /><b>by contributing</b>"
      ],
      typeSpeed: 50,
      backSpeed: 50,
      loop: true,
      showCursor: false
    });
  });
</script>