@charset "utf-8";

// Define defaults for each variable.

$button-primary-color: #03a9f4;
$button-secondary-color: #add8eb;
$border-radius: 4px;

$base-font-family: "Lato", sans-serif !default;
$button-font-family: "Barlow Condensed", sans-serif !default;
$base-font-size:   18px !default;
$base-font-weight: 400 !default;

$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     40px !default;

$text-color:       rgb(80, 80, 80) !default;
$background-color: #fdfdfd !default;
$brand-color:      #61A4B4 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$icons-color: $grey-color;
$icons-color-hover: $grey-color-dark;
$secondary-background-color: white !default;

// Width of the content area
$content-width:    1024px !default;
$on-palm:          600px !default;
$on-laptop:        800px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/svg",
  "minima/syntax-highlighting"
;
