/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-light;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 3;

  // Positioning context for the mobile navigation icon
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-right: $spacing-unit;
  padding-left:  $spacing-unit;
}

.logo {
  height: 90px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;

  
  -webkit-transition: -webkit-transform 200ms ease-in; /* Changed here */ 
  -moz-transition: -moz-transform 200ms ease-in;
    -o-transition: -o-transform 200ms ease-in;
       transition: transform 200ms ease-in;

  &:hover {
    -moz-transform: rotateX(10deg) rotateY(10deg) translateZ( 50px );
    -ms-transform: rotateX(10deg) rotateY(10deg) translateZ( 50px );
    transform: rotateX(10deg) rotateY(10deg) translateZ( 50px );
  }
}



.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit / 2 0;
  background-color: $secondary-background-color;
}

.footer-heading {
  color: white;
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-col {
  padding-left: $spacing-unit / 2;
}

@include media-query($on-palm) {
  .footer-col-wrapper {
    flex-direction: column;
  }
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1 1 auto;
  margin-bottom: auto;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

/**
* Entry
*/
.page-content-entry {
  flex: 1 1 auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
}

.entry {
  flex: 1 1 auto;
  height: 100%;
  overflow: hidden;
  background: radial-gradient(ellipse at center, #5299C9 0%,rgba(91, 181, 216, 0.8) 0%,#4A96C9 100%,#3d7eaa 100%,#3699DB 100%,#6e48aa 100%,#6e48aa 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-widget-wrapper {
  position: absolute;
  bottom: 0;
}

#typed {
  text-align: center;
  padding: 0 20px;
  font-size: 30px;
  color: white;
  font-family: 'Roboto Mono', monospace;  
}

@include media-query($on-laptop) {
  .display-widget-wrapper {
    height: 300px;
  }
}

@include media-query($on-palm) {
  .display-widget-wrapper {
    display: none;
  }
}
/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
